# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.gitignore
.idea/
SPPE/__pycache__/
SPPE/src/__pycache__/
SPPE/src/models/__pycache__/
SPPE/src/models/layers/__pycache__/
SPPE/src/utils/__pycache__/
yolo/__pycache__/
__pycache__/
testdata/AlphaPose_HD720_SN23076_14-24-04.avi
testdata/AlphaPose_HD720_SN23076_14-14-42.avi
testdata/AlphaPose_vlc-record-2019-09-02-10h50m41s-HD720_SN23076_14-24-04.avi
testdata/HD720_SN23076_14-24-04.avi
# testdata/origion/AlphaPose_HD720_SN23076_14-24-04.avi
# testdata/origion/AlphaPose_HD720_SN23076_14-14-42.avi
testdata/alphapose-results.json
testdata/vlc-record-2019-09-02-15h40m24s-HD720_SN23076_14-24-04.avi-.mp4

